@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: inherit; }
.selector-for-some-widget {box-sizing: content-box;}

/* 헤더 */
header { background-color: orangered; }
header form button.btn { background-color: yellow; border: none;}

/* 히어로 동영상 */
section#figure { width: 100%; position: relative; }
section#figure div.video_box video { width: 100%; }
section#figure div.text_box { position: absolute; bottom: 8rem; left: 3rem; }
section#figure div.text_box a { display: block; width: 400px; height: 30px; border: 1px solid #ddd; font-weight: bold; color: #fff; text-align: center; letter-spacing: 1px; transition: all .5s; }
section#figure div.text_box a:hover { background-color: #fff; color: #555; }

/* 이미지 카드 */
section#contents > div.container > div.row { margin-top: 7rem; }
section#contents { padding-bottom: 7rem; }




@media (max-width: 992px) {
  section#figure div.text_box { display: none; }
}